.banner {
    background: #4C4360;
    width: 100%;
}

.header {
    height: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    h2 {
        font-weight: bold;
        font-size: 2.5rem;
    }

    h6 {
        font-size: 0.8rem;
        font-weight: 500;
    }
}

table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}

:host ::ng-deep .mat-sort-header-content {
    color: #fff;
}

:host ::ng-deep .mat-paginator-outer-container {
    background-color: rgb(36, 37, 37);
}

:host ::ng-deep tr.mat-header-row {
    background-color: #B1E5F2;
}

:host ::ng-deep tr.mat-row {
    height: 70px;
}