.toolbar {
  min-height: 120px; 
  padding: 40px;
}

.logo {
  width: 80px;
  transition: transform .7s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.1);

}

.form {
  padding-top: 20px;
  width: 90px;
}

.example-spacer {
  flex: 1 1 auto;
}

