
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cryptocurrency-primary: mat.define-palette(mat.$gray-palette, 100, 200);
$cryptocurrency-accent: mat.define-palette(mat.$cyan-palette);

// The warn palette is optional (defaults to red).
$cryptocurrency-warn: mat.define-palette(mat.$deep-purple-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cryptocurrency-theme: mat.define-dark-theme((
  color: (
    primary: $cryptocurrency-primary,
    accent: $cryptocurrency-accent,
    warn: $cryptocurrency-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cryptocurrency-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --rasin-black: #212121;
  --quick-silver: #A6A6A8;
  --ghost-white: #FFF;
  --grape-purple: #6554C0;
  --blizzard-blue: #41C7E4;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: poppins, sans-serif; 
  background: var(--rasin-black);
  overflow: hidden;
}
